extends ../layout

append Css
	link(type='text/css', rel='stylesheet', href=less.profile)

block Content
	div.profile.edit-profile

		img.large-profile-image(src=player.imageUrl)
		h2 #{player.name}

		form(method='post' action='/players/#{player.id}/update' class='edit-profile-form')
			table
				tr
					td 
						label(for='name') Display Name
					td 
						input(id='name' type='text', name='player[name]', value='#{player.name}', class='edit-input edit-name')
				tr
					td 
						label(for='email') Email
					td 
						input(id='email' type='text', name='player[email]', value='#{player.email}', class='edit-input edit-email')
				tr
					td 
						input(type='submit' value='submit')