extends ../layout

append Css
	link(type='text/css', rel='stylesheet', href=less.profile)
append Js
	script(src=js.players)

block Content
	div.edit-profile
		h2 #{player.name}


		form(method='post' action='/players/#{player.id}/update' class='edit-profile-form')
			table.edit-table
				col(style="width: 30%;")
				col(style="width: 70%;")
				tr
					td 
						label(for='name') Display Name
					td 
						input(id='name' type='text', name='player[name]', value='#{player.name}', class='edit-input edit-name')
				tr
					td 
						label(for='image') Profile Image
					td 
						input(id='image' type='text', name='player[imageUrl]', value='#{player.imageUrl}', class='edit-input edit-image')
						input(type='hidden' value='#{player.googleProfile.image.url}')
						img(src="#{player.googleProfile.image.url}" class="small-image")
						button.button.default-image Use Google's default image.
				tr
					td 
						label(for='email') Email
					td 
						input(id='email' type='text', name='player[email]', value='#{player.email}', class='edit-input edit-email')
				tr
					td 
						label(for='bio') Bio
					td 
						textarea(id="bio", name='player[bio]', class='edit-input edit-bio') #{player.bio}
				tr
					td 
						input(id="submit" type='submit' value='Save Profile')