extends ../layout
include ../mixins

append Css
	link(type='text/css', rel='stylesheet', href=less.mixins)
	link(type='text/css', rel='stylesheet', href=less.players)

block Content
	table.table
		thead
			tr
				th(colspan=5).header #{players.length} players 
			tr
				th
				th(colspan=2) Singles
				th(colspan=2) Doubles 
			tr
				th Name
				th Played
				th Won
				th Played
				th Won
		tbody
		each p in players
			tr
				td 
					+renderPlayer(p)
				td #{p.stats.singlesGamesPlayed}
				td #{p.stats.singlesGamesWon}
				td #{p.stats.doublesGamesPlayed}
				td #{p.stats.doublesGamesWon}
