extends ../layout

append Css
	link(type='text/css', rel='stylesheet', href=less.profile)

mixin renderTeam(team)
	each player, i in team
		span.player #{player.name}

block Content
	div.profile
		div.heading
			img.large-profile-image(src=player.imageUrl)
			div.heading-info
				h2 #{player.name}
				h5 #{player.email}
			button.edit-button
				a(href="/players/#{player.id}/edit") Edit Profile

		hr 

		div.bio
			p #{player.bio}

		table.table.stats-table
			tr
				th Stats
				th
			tr
				td Single Games Played
				td #{stats.singlesGamesPlayed}
			tr
				td Single Games Won
				td #{stats.singlesGamesWon}
			tr
				td Double Games Played
				td #{stats.doublesGamesPlayed}
			tr
				td Double Games Won
				td #{stats.doublesGamesWon}

		hr

		table.table.games-table
			tr
				th Games Played
				th
				th
				th
			tr
				th Winner
				th Loser
				th Score
				th Date Played
			each game in games
				tr
					td.team 
						+renderTeam(game.team1)
					td.team
						+renderTeam(game.team2)
					td #{game.team1Score}-#{game.team2Score} 
					td #{game.playedDateRelativeTime()}
