extends ../layout
include ../mixins

append Css
	link(type='text/css', rel='stylesheet', href=less.profile)
	link(type='text/css', rel='stylesheet', href=less.mixins)

block Content
	div.profile
		div.heading
			img.large-profile-image(src=individualPlayer.imageUrl)
			div.heading-info
				h2 #{individualPlayer.name}
				h5 #{individualPlayer.email}
			if player
				if player.name === individualPlayer.name 
					button.edit-button
						a(href="/players/#{player.id}/edit") Edit Profile

		hr 

		div.bio
			p #{individualPlayer.bio}

		table.table.stats-table
			thead
				tr
					th(colspan=2) Stats
			tbody
				tr
					td Total Games Played
					td #{stats.singlesGamesPlayed + stats.doublesGamesPlayed}
				tr
					td Single Games Played
					td #{stats.singlesGamesPlayed}
				tr
					td Single Games Won
					td #{stats.singlesGamesWon}
				tr
					td Double Games Played
					td #{stats.doublesGamesPlayed}
				tr
					td Double Games Won
					td #{stats.doublesGamesWon}

		hr

		table.table.games-table
			thead 
				tr
					th(colspan=4) Games Played
				tr
					th Winner
					th Loser
					th Score
					th Date Played
			tbody
				each game in games
					tr
						td
							+renderTeam(game.team1)
						td
							+renderTeam(game.team2)
						td #{game.team1Score}-#{game.team2Score} 
						td
							+relativeTime(game.played_date)
