extends ../layout

block Content
	h2 #{player.name}
	table.table Stats
		tr
			td Single Games Played
			td #{stats.singlesGamesPlayed}
		tr
			td Single Games Won
			td #{stats.singlesGamesWon}
		tr
			td Double Games Played
			td #{stats.doublesGamesPlayed}
		tr
			td Double Games Won
			td #{stats.doublesGamesWon}