doctype html
html
	head
		title= title
		link(rel='shortcut icon', href='/favicon.ico')
		block Css
			link(type='text/css', rel='stylesheet', href=css.main)
		block Js
			script(src=js.jQuery)
			script(src=js.bootstrap)

	body
		.navbar.navbar-default(role='navigation')
			.container
				.navbar-header
					a.navbar-brand.navbar-logo(href='/') #[img(src=images.navLogo)]
				ul.nav.navbar-nav
					li #[a(href='') Players]
					li #[a(href='') Games]
					li #[a(href='') Tournaments]
					li #[a(href='') Rules]
				.navbar-form.navbar-left
					a.btn.btn-primary(href='/games/new') Record Game
				ul.nav.navbar-nav.navbar-right
					if user
						li #[a(href='') #{user.name}]
						li #[a(href='/auth/logout') Logout]
					else
						li #[a(href='/auth/login') Sign Up / Login]
		.container
			.content
				block Content
			.footer
				block Footer
		
		block Init