doctype html
html
	head
		title= title
		link(rel='shortcut icon', href='/favicon.ico')
		block Css
			link(type='text/css', rel='stylesheet', href=less.main)
		block Js
			script(src=js.jquery)
			script(src=js.bootstrap)
			if (!player)
				script(src'//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
				script(src=js.auth.google_login)

	body
		block NavBar
			.navbar.navbar-default(role='navigation')
				.container
					.navbar-header
						a.navbar-brand.navbar-logo(href='/') #[img(src=images.NavLogo)]
					ul.nav.navbar-nav
						block NavBarLinks
							li: a(href='') Players
							li: a(href='/games/recent') Games
							li: a(href='') Tournaments
							li: a(href='') Rules
					.navbar-form.navbar-left
						block NavBarButtons
							a.btn.btn-primary(href='/games/new') Record Game
					ul.nav.navbar-nav.navbar-right
						block NavBarRight
							if player
								form#logoutForm(action='/logout', method='post')
								li.dropdown
									a.dropdown-toggle(href='', data-toggle='dropdown') #{player.name} #[span.caret]
									ul.dropdown-menu(role='menu')
										li: a(href='') Test
										li: a(href='/logout', onclick="document.getElementById('logoutForm').submit(); return false;") Logout
							else
								include auth/_google-signin
		.container
			.content
				block Content
			.footer
				block Footer
		
		block Init