extends ../layout
block append Css 
		link(type='text/css', rel='stylesheet', href=css.chosen)
		link(type='text/css', rel='stylesheet', href=less.recordgame)
block append Js 
		script(src=js.chosen_jquery)
		script(src=js.games)

block Content
	div.new-game
		form(method='post' action='/games/new' class='new-games-form')
			h4.title Record a new Match 
			table#recordteams 
				tr
					th(style="width: 40%;") team 1
					td(style="width: 60%;") 
						select(name="team1[players][]", data-placeholder="player(s)",multiple class="chosen-select select-team-1", style="width:100%;", tabindex="1")
							for person in players
								option(value="#{person.id}") #{person.name}
				tr
					th(style="width: 40%;") team 2 	
					td(style="width: 60%;") 
						select(name="team2[players][]", data-placeholder="player(s)",multiple class="chosen-select select-team-2", style="width:100%;", tabindex="1")
							for person in players
								option(value="#{person.id}") #{person.name}
			
			table#recordscores
				tr
					th(style="width: 40%;") game 1  
					td(style="width: 30%;") 
						input(type='text', name='team1[score][]', placeholder='score', class='form-control score')
					td(style="width: 30%;") 
						input(type='text', name='team2[score][]', placeholder='score', class='form-control score')

			input(type='submit', id='save-game', class='btn btn-default save-button', value="Save Match")
			input(type='button', id='add-game', class='btn btn-default add-game-button', value="Add Another Game to Match")

			