extends ../layout
block append Css 
		link(type='text/css', rel='stylesheet', href=css.chosen)
		link(type='text/css', rel='stylesheet', href=less.recordgame)
block append Js 
		script(src=js.chosen_jquery)
		script(src=js.games)

block Content
	div.new-game
		form(method='post' action='/games/new' class='new-games-form')
				h4 record a new game

				br

				h5 team 1
				div.form-group
					select(name="team1[players][]", data-placeholder="player(s)",multiple class="chosen-select select-team-1", style="width:300px;", tabindex="1")
						for person in players
							option(value="#{person.id}") #{person.name}
				div.form-group
						input(type='text', name='team1[score]', placeholder='score', class='form-control score')
				
				br

				h5 team 2
				div.form-group
					select(name="team2[players][]", data-placeholder="player(s)",multiple class="chosen-select select-team-2", style="width:300px;", tabindex="1")
						for person in players
							option(value="#{person.id}") #{person.name}
				
				div.form-group
						input(type='text', name='team2[score]', placeholder='score', class='form-control score')
				
				br
				
				input(type='submit', class='btn btn-default submit', value="Add Game")