extends ../layout

block Content
    h2 Recent Games
    table.table.table-striped
      each game, i in recentGames
        tr
          td #{game.winner} defeats #{game.loser}: #{game.winnerScore}-#{game.loserScore} [#{game.time}]
